html,body {
    height: 100%;
}

.list-group li {
    list-style: none;
}
.card {
    margin-bottom:15px;
}

.card.chat-recv {
    background-color: white;
    float:left;
}
.card.chat-send {
    background-color: #D7F6F6;
    float: right;

}