html,body {
    height: 100%;
}

.list-group li {
    list-style: none;
}
.card {
    margin-bottom:15px;
    min-width:60px;
    max-width:75%;
}

.card.chat-recv {
    background-color: white;
    float:left;
}
.card.chat-send {
    background-color: #D7F6F6;
    float: right;

}

.main-navbar {
    position:absolute;
    width:100%;
    box-sizing: border-box;
    z-index: 2;
}

.main-container {
    height:100%;
    min-height: 100%;
    margin:0;
    padding:0;
}
.main-body {
    box-sizing: border-box;
    padding-top: 70px;
    padding-bottom: 14px;
    z-index: 1;
    margin: 0;
}
.bg-chat {
    background-color: #eeeeee; !important;
}