<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../static/css/bootstrap.css" rel="stylesheet"/>
    <script src="../static/js/bootstrap.js" type="text/javascript"></script>
    <!-- JQuery -->
    <!-- Custom css -->
    <link href="../static/css/style.css" rel="stylesheet"/>
</head>
<body>
<div class="container h-100">
    <div class="row h-100">
        <div class="col"></div>
        <div class="col-6 mt-1 bg-light h-75">
            <h3>Chat</h3>

            <form>
                <div class="message-input">
                    <input type="text" placeholder="Write your message..." />
                    <button class="submit">Send</button>
                </div>
            </form>
        </div>

        <div class="col"></div>
    </div>
</div>
</body>
</html>